<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.campus.myapp.dao.AdminBoardDAO">
	<select id = "themeList" resultType="BoardVO">
  		select b1.no, b1.subject, b1.userid, b1.hit, b1.writedate, b2.reply_count 
  		from
  		(select no, subject, userid, hit, date_format(writedate, '%m-%d %h:%i') writedate 
  		from board
  		<if test = "searchWord!=null">
  			where ${searchKey} like '%${searchWord}%'
  		</if>
  		order by no desc 
  		limit ${onePageRecord} offset ${offsetPoint}) b1
  		left outer join
  		(select no, count(no) reply_count from reply_board group by no) b2 
  		on b1.no=b2.no
	</select>
	<select id = "reviewList" resultType="BoardVO">
  		select b1.no, b1.subject, b1.userid, b1.hit, b1.writedate, b2.reply_count 
  		from
  		(select no, subject, userid, hit, date_format(writedate, '%m-%d %h:%i') writedate 
  		from board
  		<if test = "searchWord!=null">
  			where ${searchKey} like '%${searchWord}%'
  		</if>
  		order by no desc 
  		limit ${onePageRecord} offset ${offsetPoint}) b1
  		left outer join
  		(select no, count(no) reply_count from reply_board group by no) b2 
  		on b1.no=b2.no
  	</select>
	  <insert id = "themeWriteOk">
	  		insert into board(subject,content,userid,ip)
	  		values(#{subject}, #{content}, #{userid}, #{ip})
	  </insert>
	  <select id = "totalRecord" resultType="int">
	  		select count(no) cnt from board
	  		<if test='searchWord!=null'>
	  			where ${searchKey} like '%${searchWord}%'
	  		</if>
	  </select>
	  <select id = "getBoard" resultType = "BoardVO" parameterType = "int">
	  		select no, subject, content, hit, userid, writedate
	  		from board
	  		where no = ${param1}	  
	  </select>
	  <delete id = "boardDel">
	  		delete from board where no =${param1} and userid=#{param2}
	  </delete>
	  <update id = "themeEditOk" parameterType = "BoardVO">
	  		update board set subject=#{subject}, content=#{content} where no =${no} and userid =#{userid}
	  </update>
	  <delete id = "boardMultiDel">
	  		delete from board 
	  		<where>
	  			<foreach item = "item" index = "index" collection="noList" open="no in (" separator ="," close=")">
	  				${item}	  			
	  			</foreach>	  		
	  		</where>
	  </delete>
  </mapper>