<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.BoardDAO">
	<select id="boardList" resultType="BoardVO">
		select no, subject, userid, hit, date_format(writedate, '%m-%d %h:%i')
		writedate
		from board
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by no desc
		limit ${onePageRecord} offset ${offsetPoint}
	</select>
	<insert id="boardWriteOk">
		insert into board(subject, content, userid, ip)
		values(#{subject}, #{content}, #{userid}, #{ip} )
	</insert>
	<select id="totalRecord" resultType="int">
		select count(no) cnt from board
		<if test='searchWord!=null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	<select id="getBoard" resultType="BoardVO" parameterType="int"> <!-- 아이디는 DAO에 있는것으로 result역시 dao에 파라미터도 int도 DAO에서 -->
		select no,subject, content, hit, userid, writedate from board where
		no=${param1}
	</select>
	<update id="hitCount">
		update board set hit = hit+1 where no = ${param1}
	</update>
	<delete id="boardDel">
		delete from board where no=${param1} and userid=#{param2}
	</delete>
	<update id="boardEditOk" parameterType="BoardVO"> <!-- #{} << 이건 vo에 있는 정보를 가져오는듯 $이건 머임? -->
		update board set subject = #{subject}, content=#{content} where no =
		${no} and userid=#{userid}
	</update>
	<delete id="boardMultiDel">
		delete from board
		<where>
			<foreach item="item" index="index" collection="noList"
				open="no in(" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>
</mapper>