<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.campus.myapp.dao.DataDAO">
  <select id="dataAllSelect" resultType="DataVO">
  select no, title, userid, downcount, hit, date_format(writedate, '%m-%d') writedate, filename1, filename2 from data order by no desc
    </select>
    
   <insert id="dataInsert">
   insert into data(title, content, userid, filename1, filename2) values(#{title}, #{content}, #{userid}, #{filename1}, #{filename2} )
   </insert>
   <update id="downCountUpdate">
   update data set downcount= downcount+1 where no=${param1}
   </update>
   <select id="newDownCount" resultType="int">
   select downcount from data where no=${param1}
   </select>
   <update id="hitCount">
   update data set hit= hit+1 where no=${param1}
   </update>
   <select id="dataSelect" resultType="DataVO">
   select no, title, content,hit, downcount, userid, filename1, filename2, writedate from data
   where no=${param1}
   </select>
   <select id="getFilenames" resultType="DataVO">
   select filename1, filename2 from data where no=${param1}
   </select>
   <update id="dataUpdate">
   update data set title=#{title}, content=#{content}, filename1=#{filename1}, filename2=#{filename2}
   where no=${no} and userid=#{userid}
   </update>
<delete id="dataDelete"> <!--  $ < '이안에 문자가 감'     # < 그냥 문자만감 -->
delete from data where no=${param1} and userid=#{param2}
</delete>
  </mapper>