@charset "UTF-8";
:root {
	/* 변수 선언 
    **************** FONT VARIABLES **************** 
    */

	/* font-family */
	--basic-font-family: roboto, sans-serif;
	--logo-font-family: bely, serif;

	/* font-style */
	--logo-font-style: italic;

	/* font-size */
	--title-font-size: 55px;
	--large-font-size-1: 30px;
	--large-font-size-2: 25px;
	--large-font-size-3: 22px;
	--medium-font-size-1: 20px;
	--medium-font-size-2: 18px;
	--medium-font-size-3: 15px;
	--small-font-size-1: 10px;

	/* **************** COLOR VARIABLES ****************
    */
	/* 메인 요소 컬러 + 배경색  */
	--main-color: #4f6083;
	--main-bg-color: #fafafa;

	/* 요소 배경색 */
	--bg-color-gray: #f3f4f2;
	--bg-color-lightBlue-1: #e1e8ef;
	--bg-color-lightBlue-2: #ecf3f8;
	--bg-color-blue-1: #AABDD0;
	--bg-color-blue-2: #5e7ca0;

	/* 기타 회색  */
	--ct-color-gray-light: #c5c9ca;
	--ct-color-gray-dark: #717171;

	/* 그림자 속성 */
	--basic-shadow: 0px 3px 6px #00000029;
	--up-basic-shadow: 0px -3px 6px #00000029;
	--bigger-shadow: 0px 15px 8px #00000029;

	/* **************** SPACING VARIABLES **************** */
	--super-space: 10vh;
	--large-space: 24px;
	--medium-space: 10px;
	--small-space: 6px;

	--button-width: 110px;
	--button-height: 30px;

	--viewPort-width: 1440px;
	--main-center-width: 1200px;
	--main-center-ratio: 65%;

	/* **************** BORDER VARIABLES **************** */
	--strong-radius: 20px;
	--mild-radius: 8px;
	--basic-line: 1px solid;
	--bold-line:4px solid;
	--dotted-line:1px dotted;
	--bold-dotted-line:3px dotted;
}

/* * BASIC Settings *
*/
* {
	/* 기본설정 */
	font-family: var(--basic-font-family);
	font-size: var(--medium-font-size-2);
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body {
	/* 색상설정 */
	background-color: var(--main-bg-color);
}

.wrapper, 
nav,
section{
	width: var(--main-center-ratio);
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}
i{
	cursor: pointer;
}
/* **************** INC 영역 **************** */
/* ----- HEADER ------*/
header{
	/* 색상 + 선*/
	color: var(--main-color);
	border-bottom: var(--basic-line) var(--main-color);
}
header .wrapper {
	/* 플랙스박스 속성 이용한 배치*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header>div>div{
	width: 20%;
	padding: var(--medium-space);
}
header>div>div:nth-child(2){
	width: 60%;
}
header i {
	/* 아이콘 크기   */
	font-size: var(--large-font-size-2);
}
header .header__logo{
	text-align: center;
}
header .header__logo span {
	/* 로고 */
	font-family: var(--logo-font-family);
	font-size: var(--large-font-size-1);
	font-style: var(--logo-font-style);
	color: var(--main-color-1);
	margin-right: var(--medium-space);
}
header .header__icon{
	text-align: right;
}
header .header__icon i {
	margin-right: var(--medium-space);
}

/* ----- NAV ------ */

nav>ul{
	display: none;
	position: absolute;
	z-index: 10;
	background-color: var(--bg-color-lightBlue-1);
	width: 10vw;
}
nav>ul>li{
	padding: 5%;
	border-bottom: var(--basic-line) var(--bg-color-blue-2);
	font-size: var(--medium-font-size-3);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
nav>ul>li:hover{
	color: var(--main-bg-color);
	background-color: var(--main-color);
}
/* ----- FOOTER ----- */
footer{
	background-color: var(--main-color);
	color: var(--main-bg-color);

	/* flexbox 세로 정렬 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
	/* 여백 */
	padding: var(--medium-space) 0;
	margin-top: var(--large-space);
}
footer .footer__icon i{
	margin: 0 var(--large-space);
	font-size: var(--medium-font-size-3);
}
footer .footer__info{
	margin-top: var(--medium-space);
	font-size: var(--small-font-size-1);
	text-align: center;
}
footer .footer__info span{
	text-align: center;
}
/* **** events ***** */
header .header__menu>i:hover, 
.header__icon>i:hover,
.header__logo:hover{
	pointer-events : auto;
	color: var(--bg-color-blue-1);
}

