<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.typekit.net/mss6mty.css">
	<link rel="stylesheet" href="/style/style.css">
	<script src="https://kit.fontawesome.com/ab847241fd.js" crossorigin="anonymous"></script>

	<title>Board Sample</title>
</head>
<body>
	<!-- HEADER -->
	<header>
		<div class="header__menu">
			<i class="fa-solid fa-bars"></i>
		</div>
		<div class="header__logo">
			<a href="#">
				<span>On The Way</span>
				<i class="fa-solid fa-cart-flatbed-suitcase"></i>
			</a>
		</div>
		<div class="header__icon">
			<i class="fa-solid fa-arrow-right-from-bracket"></i>
			<i class="fa-regular fa-bell"></i>
			<i class="fa-regular fa-user"></i>
		</div>
	</header>

	<!-- PAGE TITLE 표시 바 -->
	<section class="title">
		<div class="title__bar">
			<span>게시판</span>
		</div>
	</section>

	<!-- BOARD -->
	<section class="board">

		<!-- BOARD NAV + BUTTON -->
		<div class="board__bar">
			<ul class="board__nav">
				<li>공지</li>
				<li class="active">전체글</li>
				<li>여행후기</li>
				<li>축제후기</li>
				<li>맛집추천</li>
			</ul>
			<div class="actionBtn">작성하기</div>
		</div>
		
		<!-- CONTENT -->
		<div class="board__content">
			<ul class="content__title">
				<li>글번호</li>
				<li>제목</li>
				<li>작성일</li>
				<li>작성자</li>
				<li>조회수</li>
			</ul>
			<ul class="content__list">
				<li>#</li>
				<li>title sample for the board Sample page of 'ON THE WAY'title sample for the board Sample page of 'ON THE WAY'title sample for the board Sample page of 'ON THE WAY'</li>
				<li>mm.dd</li>
				<li>name</li>
				<li>#</li>

				<li>#</li>
				<li>title sample for the board Sample page of 'ON THE WAY'</li>
				<li>mm.dd</li>
				<li>name</li>
				<li>#</li>
			</ul>

			<!-- PAGING + BUTTON-->
			<div class="board__bottom">
				<ul class="board__page">
					<li><a href="#"> <i class="fa-solid fa-angle-left"></i></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"> <i class="fa-solid fa-angle-right"></i></a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- FOOTER -->
	<footer>
		<div class="footer__icon">
			<a href="#"><i class="fa-brands fa-facebook"></i></a>
			<a href="#"><i class="fa-brands fa-square-instagram"></i></a>
			<a href="#"><i class="fa-solid fa-share-from-square"></i></a>
		</div>
		<div class="footer__info">
			<a href="#">About Us</a> | 
			<a href="#">Support</a> |
			<a href="#">Term of Use</a> |
			<a href="#">Private Policy</a> <br>
			©2022 NoviceCoders. All Right Reserved.
		</div>
	</footer>
</body>
</html>